<div class="row">
  <app-patient-info [viewFull]="true" class="col-md-6"></app-patient-info>
  <app-documents class="col-md-6 app-account-doc"></app-documents>
</div>

    <div class="app-account-table" #ContentBlockLog>
      <app-logouts-list [HeightBlock]="varHeightBlock()"></app-logouts-list>
    </div>


<!--
<button (click)="toggle()">Показать / Скрыть</button>


<div *ngIf="isShown()" class="box" animate.enter="fade-in-class" animate.leave="fade-out-class">
Привет, это анимированный блок!
  <p>ddddddd</p>
  <p>ddddddd</p>
  <p>ddddddd</p>
  <p>ddddddd</p>
  <p>ddddddd</p>
  <p>ddddddd</p>
</div>

-->
