.app-btn{
  background-color: #60bdc2;
  color: white;
  border-width: 3px;

}

.app-btn.active{
  background-color: white;
  color: #b6b6b6;
  border-width: 3px;
}

.app-btn:disabled {
  background-color: #b4c5c6;
  border-color: aliceblue;
  cursor: no-drop;
}

