.app-patient-info{
}

.app-patient-info-text1{
  text-transform: uppercase;
}

.app-patient-info-text1 > span{
  font-weight: bold;
}

.app-patient-info-text2{
  text-transform: uppercase;
  font-weight: bold;
}

.info-header{

}
.info-value{
  font-weight: bold;
/*  margin-left: 10px;*/
}
