<div class="app-patient-header">ЛИЧНЫЕ ДАННЫЕ</div>
<div class="app-patient-info app-block">
    <div class="app-patient-info-text1">ЗДРАВСТВУЙТЕ, <span>{{getPatientFIO(patient())}}</span></div>
  <div class="row">
    <div class="col-sm-6 app-patient-info-text2 ">
      <span class="info-header">Пол</span>
      <span class="info-value">{{getSex(patient())}}</span>
    </div>
    <div class="col-sm-6 app-patient-info-text2">
      <span class="info-header">Возраст</span>
      <span class="info-value">{{patient().age}} лет</span>
    </div>
  </div>
  <div class="app-patient-info-text2"> Номер карты в клинике <span>{{patient()!.num}}</span></div>
  <section *ngIf="viewFull">
<!--
    <div> Адрес проживания / Фактический</div>
    <div> {{patient().address_proj}} / {{patient().address_proj_f}}</div>
-->

    <div class="row">
      <div class="col-md-auto" style="display: flex">
        <mat-icon svgIcon="mail" class="app-svg-icon"></mat-icon>
        <span>{{patient().email}}</span>
      </div>
      <div class="col-md-auto" style="display: flex">
        <mat-icon svgIcon="phone" class="app-svg-icon"></mat-icon>
        <span>{{patient().cellular}}</span>
      </div>
    </div>

  </section>


</div>


