<div>ЛИЧНЫЕ ДАННЫЕ</div>
<div class="app-patient-info app-block">
  <div class="app-patient-info-text1">ЗДРАВСТВУЙТЕ, <span>{{getPatientFIO(patient())}}</span></div>
  <div class="row">
    <div class="col-sm-6 app-patient-info-text2 row">
      <span class="col-md-4 info-header">Пол</span>
      <span class="col-md-8 info-value">{{getSex(patient())}}</span>
    </div>
    <div class="col-sm-6 app-patient-info-text2 row">
      <span class="col-md-6 info-header">Возраст</span>
      <span class="col-md-6 info-value">{{patient().age}} лет</span>
    </div>
  </div>
  <div class="app-patient-info-text2"> Номер карты в клинике <span>{{patient()!.num}}</span></div>
  <section *ngIf="viewFull">
    <div> Адрес проживания / Фактический</div>
    <div> {{patient().address_proj}} / {{patient().address_proj_f}}</div>

    <div class="row">
      <div class="col-sm-6">
        {{patient().email}}
      </div>
      <div class="col-sm-6">
        {{patient().cellular}}
      </div>
    </div>

  </section>


</div>


