
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Личный кабинет</a>

    <!-- Кнопка "Бутерброд" -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Выпадающий блок -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="height: 94vh;">

        <li class="nav-item" (click)="goToMenu(menu)" *ngFor="let menu of menuList;">
          <a class="nav-link "
             [ngClass]="{ 'active': menu.active}"
             aria-current="page">{{menu.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
