
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <div class="app-home-header_logo app-cp" (click)="goHome()">
      <mat-icon svgIcon="logo" class="app-svg-logo"></mat-icon>
    </div>

    <!-- Кнопка "Бутерброд" -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Выпадающий блок -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <app-menu-mobile class="navbar-nav ms-auto mb-2 mb-lg-0" style="height: 94vh;"></app-menu-mobile>
    </div>
  </div>
</nav>

<div class="app-home-mobile_content">
  <router-outlet></router-outlet>
</div>
