<div>ЛИЧНЫЕ ДАННЫЕ</div>
<div class="app-patient-info app-block">
  <div class="app-patient-info-text1">ЗДРАВСТВУЙТЕ, <span>{{getPatientFIO(patient())}}</span></div>
  <div class="row">
    <div class="col-sm-6 app-patient-info-text2 row">
      <span class="col-md-4 info-header">Пол</span>
      <span class="col-md-8 info-value">{{getSex(patient())}}</span>
    </div>
    <div class="col-sm-6 app-patient-info-text2 row">
      <span class="col-md-6 info-header">Возраст</span>
      <span class="col-md-6 info-value">{{getAge(patient())}} лет</span>
    </div>
  </div>
  <div class="app-patient-info-text2"> Номер карты в клинике <span>{{getNum(patient())}}</span></div>
</div>


