.app-btn-filter {
  background-color: #b6b6b6;
  color: white;
  border-width: 3px;
}

.app-btn-filter.active{
  background-color: white;
  color: #b6b6b6;
  border-width: 3px;
}

/*
 even - четные
 odd - не четных
 */
.app-btn-filter:nth-child(even) {
  margin-left: 15px;
}


.app-icon-info{
  width: 80px;
  height: 80px;
  cursor: pointer;
}
