<div class="app-mobile-text-center" style="height: 90vh" #ContentBlockLog>
  <div>МОИ ПОСЕЩЕНИЯ</div>
<!--  <div *ngIf="loading()" class="loading"><img src="./assets/loading.gif" alt="Загрузка..."></div>-->
  <app-loading [loading]="loading()"></app-loading>


  <div>
    <app-btn class="app-btn-filter" *ngFor="let typeMR of typeMyRec();"
            [text]="typeMR.name"
            [active]="typeMR.active"
            (click)="onClickType(typeMR.id)">
    </app-btn>

  </div>

  <div>
    <ng-container *ngIf="getCurrentTypeMyRec().id>1; then showHistory else showHistoryPred"></ng-container>

    <ng-template #showHistory>
      <ng-container [ngSwitch]="deviceType()">
        <ng-template [ngSwitchCase]="sizeS.pc">
          <app-panel-table-pagination nameBlock="" (onChangePeriod)="changePeriod($event)"
                                      [dtBegin]="dtBegin"
                                      [dtEnd]="dtEnd"
                                      textItogo=""
                                      [CountRec]="historyCountRec()"
                                      [CountRecPage]="historyCountRectoPage"
                                      (onChangedPage)="changedPage($event)"
          >

            <ng-container *ngIf="historyCountRec()>0; then showTable else showNotRec"></ng-container>

            <ng-template #showNotRec>
              <div class="cls-not-rec"> Нет завершенных посещений</div>
            </ng-template>

            <ng-template #showTable>
              <div class="tableFixHead" [style.max-height.px]="testHeightBlock()">
                <table class="table table-borderless table-hover table-fixed">
                  <thead>
                  <tr>
                    <th scope="col" class="app-bg-color cls-header-table-dt logout-td-yeer" >Дата посещения</th>
                    <th scope="col" class="app-bg-color app-table-th-center">Врач</th>
                    <th scope="col" class="app-bg-color app-table-th-center">Услуга</th>
                    <th scope="col" class="app-bg-color app-table-th-center">Оценить</th>
                    <th scope="col" class="app-bg-color app-table-th-center">Документы</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let his of historyList()">
                    <td class="logout-td-yeer">
                      {{getTekDay(his.dtSort)}} в {{getTime(his.dtSort)}}
                      <div style="color: #c5c5c5;">{{getNameDay(his.dtSort)}}</div>
                    </td>
                    <td class="logout-td-text">{{his.doctor}}</td>
                    <td class="logout-td-text">{{his.typetext}}</td>
                    <td class="logout-td-text">
                      <app-btn class="app-btn-filter"
                               text="Оценить врача"
                               (click)="onClickDoctor(his.doctorid)"

                      >
                      </app-btn>
                    </td>
                    <td class="logout-td-info">
                      <mat-icon svgIcon="pdf" class="cls-mat-icon cls-mat-icon-info app-icon-info"
                                (click)="gotToDownload(his.keyid, his.typehistory, his.count_files)">

                      </mat-icon>
                      {{his.count_files!}}
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </ng-template>

          </app-panel-table-pagination>

        </ng-template>

        <ng-template [ngSwitchCase]="sizeS.mobile">
          <div class="row" style="margin-top: 15px; text-align: left;">
            <app-block-mobile class="col-sm-6" style="margin-bottom: 15px"
                              *ngFor="let his of historyList()">
              <div>Дата посещения: {{getTekDay(his.dtSort)}} в {{getTime(his.dtSort)}}</div>
              <div>Врач: {{his.doctor}}</div>
              <div>Услуга: {{his.typetext}}</div>
              <div style="display: flex">
                <mat-icon svgIcon="pdf" class="col-6 cls-mat-icon cls-mat-icon-info app-icon-info"
                          (click)="gotToDownload(his.keyid, his.typehistory, his.count_files)">

                </mat-icon>
                <span style="margin-top: 30px" (click)="gotToDownload(his.keyid, his.typehistory, his.count_files)">Скачать документ</span>
              </div>

            </app-block-mobile>
          </div>
        </ng-template>

      </ng-container>

    </ng-template>

    <ng-template #showHistoryPred>
      <ng-container [ngSwitch]="deviceType()">
        <ng-template [ngSwitchCase]="sizeS.pc">
          <app-panel-table-pagination (onChangePeriod)="changePeriod($event)"
                                      textNotREC="Нет Пасещений"
                                      [HeaderHide]="true"
                                      [CountRec]="rnumbCountRec()"
                                      [CountRecPage]="historyCountRectoPage"
                                      (onChangedPage)="changedPage($event)"
          >

            <div class="tableFixHead" [style.max-height.px]="testHeightBlock()">
              <table class="table table-borderless table-hover table-fixed">
                <thead>
                <tr>
                  <th scope="col" class="app-bg-color cls-header-table-dt logout-td-yeer" >Дата посещения</th>
                  <th scope="col" class="app-bg-color app-table-th-center">Кабинет</th>
                  <th scope="col" class="app-bg-color app-table-th-center">Врач</th>
                  <th scope="col" class="app-bg-color app-table-th-center">Услуга</th>
                  <th scope="col" class="app-bg-color app-table-th-center">Отделение</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let rnumb of rnumbList()"  (click)="openTalon(rnumb)" class="app-cp">
                  <td class="logout-td-yeer">
                    {{getTekDay(rnumb.beginDate!)}} в {{getTime(rnumb.beginDate!)}}
                    <div style="color: #c5c5c5;">{{getNameDay(rnumb.beginDate!)}}</div>
                  </td>
                  <td class="logout-td-text">{{rnumb.cab}}</td>
                  <td class="logout-td-text">{{rnumb.lastname}} {{rnumb.firstname}} {{rnumb.secondname}}</td>
                  <td class="logout-td-text">{{rnumb.srv_text}}</td>
                  <td class="logout-td-text">{{rnumb.spec}}</td>
                </tr>

                </tbody>
              </table>
            </div>

          </app-panel-table-pagination>

        </ng-template>

        <ng-template [ngSwitchCase]="sizeS.mobile">
          <div class="row" style="margin-top: 15px; text-align: left;">
            <app-block-mobile class="col-sm-6" style="margin-bottom: 15px"
                              *ngFor="let rnumb of rnumbList()" (click)="openTalon(rnumb)">
              <div>Дата посещения: {{getTekDay(rnumb.beginDate!)}} в {{getTime(rnumb.beginDate!)}}</div>
              <div>Кабинет: {{rnumb.cab}}</div>
              <div>Врач: {{getFIODoc(rnumb.lastname, rnumb.firstname, rnumb.secondname)}}</div>
            </app-block-mobile>
          </div>

        </ng-template>

      </ng-container>

    </ng-template>



  </div>

</div>
