.app-home-header{
  color: #7A7A7A;
  text-align: center;
}

/*
.ng-value{
  height: 26px;
  margin-bottom: 5px;
}
*/

.select-name{
  height: 24px;
}

.select-description{
  height: 33px;
  display: block;
  color: #60BDC2;
}

.block-selected{
  margin: 8px;
  position: relative;
}

.app-home-not-date{

}

.app-doc-block{

}
