/*
.app-block{
  min-height: 135px;
  max-height: 135px;
}
*/

.block-info{
  width: 109%;
}

.block-info:not(:last-child) {
  margin-bottom: 21px;
}

.block-info > div {
  background-color: white;
  color: #1c929c;
  padding: 8px;
/*  margin: 8px;*/
  border-radius: 8px;
}

.app-recmy-min-panel{
  height: calc(100% - 24px - 37px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
