<div>МОИ ПРЕДСТОЯЩИЕ ПОСЕЩЕНИЯ</div>
<div class="app-block app-recmy-min-panel">

  <ng-container *ngIf="rnumbList().length>0; then showTable else showNot"></ng-container>

  <ng-template #showTable>
    <div class="row gap-2 app-cp block-info" *ngFor="let rnumb of rnumbList()" (click)="openTalon(rnumb)" >
      <div class="col-sm-2"><span>{{rnumb.cab}} каб.</span></div>
      <div class="col-sm-5"><span>{{rnumb.spec}}</span></div>
      <div class="col-sm-4"><span>{{formatDate(rnumb.beginDate!)}}</span></div>
    </div>

  </ng-template>

  <ng-template #showNot>
    <div style="text-align: center;"> У ВАС НЕ ЗАПЛАНИРОВАННО ПРЕДСТОЯЩИЙ ПОСЕЩЕНИЙ</div>
  </ng-template>

</div>
<app-block-goy url="/home/recmy"></app-block-goy>
