
<app-loading [loading]="loading()"></app-loading>
<div class="modal-header app-bg-color">
  <ng-container [ngSwitch]="typeTalon">
    <ng-template [ngSwitchCase]="0">
      <h4 class="app-modal-title">Информация о талоне</h4>
    </ng-template>
    <ng-template [ngSwitchCase]="1">
      <h4 class="app-modal-title">Запись на талон</h4>
    </ng-template>
  </ng-container>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(false, 'X_click')"></button>
</div>

<div class="modal-body">
  <div class="cls-doc row">
    <div class="col-sm-4" style="height: 100%;">
      <img [src]="imgS.getImgSrcDoc(talon()?.doctor_id)" (error)="imgS.errorHandlerIMG($event, 'doc')"
           class="cls-img-doc-photo"
            height="100%" width="auto">
    </div>

    <div class="cls-doc-info col-sm-4">
      <div class="cls-doc-fio">{{getFIODoc(talon())}}</div>
      <div class="cls-doc-spec">{{talon().spec}}
      </div>
    </div>

    <div class="cls-doc-time col-sm-4">
      <div class="cls-date">{{getTalonDateTime(talon().beginDate)}}</div>
      <div class="cls-day">{{getNameDay(talon().beginDate)}}</div>
    </div>

  </div>

  <div class="cls-talon-adress">
    <div class="cls-priem">Прием врача по адресу:</div>
    <div class="cls-info row">
      <div class="cls-info-adr col-12">
        <mat-icon svgIcon="location" class="btn-icon-location"></mat-icon>
        {{lpu?.addres}}
      </div>
<!--      <div class="cls-info-phone col-4">{{talon().phone}}</div>-->
    </div>
  </div>

  <div class="row cls-talon-srvList" *ngIf="srvlist.length>0">
    <div class="col-sm-9">{{srvlist[0].text}}</div>
    <div class="col-sm-3">{{srvlist[0].price}} р.</div>
  </div>
  <div class="cls-talon-pay-info">
    Внимание! Данная услуга обязательна к оплате онлайн. Если услуга не будет оплачена в течение {{WEB_LK_PAY_LIFETIME}} минут, запись на прием будет автоматически удалена.
  </div>

</div>

<div class="modal-footer">

  <app-btn class="app-btn-filter"
           text="Отменить талон"
           (click)="onCanselRecord()"
           *ngIf="typeTalon==0">
  </app-btn>
  <app-btn class="app-btn-filter"
           text="Закрыть"
           (click)="closeTalon()"
           *ngIf="typeTalon==0">
  </app-btn>

  <app-btn class="app-btn-filter"
           text="Записаться к врачу"
           (click)="recordTalon()"
           *ngIf="typeTalon==1">
  </app-btn>
  <app-btn class="app-btn-filter"
           text="Оплатить"
           (click)="goToPay()"
           *ngIf="recToPay">
  </app-btn>


<!--  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Закрыть</button>-->
</div>
