
<app-loading [loading]="loading()"></app-loading>
<div class="modal-header app-bg-color">
  <ng-container [ngSwitch]="pageStatus()">
    <ng-template ngSwitchCase="talon">
      <h4 class="app-modal-title">Информация о талоне</h4>
    </ng-template>
    <ng-template ngSwitchCase="record">
      <h4 class="app-modal-title">Запись на талон</h4>
    </ng-template>
    <ng-template ngSwitchCase="pay">
      <h4 class="app-modal-title">Вы забронировали талон</h4>
    </ng-template>
  </ng-container>
  <button type="button" class="btn-close" aria-label="Close" (click)="closeModal(false, 'X_click')"></button>
</div>

<div class="modal-body">

  <div class="cls-doc row">
    <div class="col-3" style="text-align: center;">
      <img [src]="imgS.getImgSrcDoc(talon()?.doctor_id)" (error)="imgS.errorHandlerIMG($event, 'doc')"
           class="cls-img-doc-photo"
           height="auto" width="100%">
    </div>
    <div class="col-9" style="display: flex;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;">
      <div class="cls-ta-center cls-doc-fio">{{getFIODoc(talon())}}</div>
      <div class="cls-ta-center cls-doc-spec">{{talon().doc_dolgnost}}</div>
      <div class="cls-ta-center cls-doc-spec">{{talon().spec}}</div>
    </div>
  </div>

  <div class="srv-name" *ngIf="srvlist().length>0">Услуга: прием (осмотр, консультация)</div>
  <div class="doc-lpu">{{lpu?.name}}</div>

  <div class="row">
    <div class="col-md-7">
      <div class="icon-info doc-lpu-adr">
        <mat-icon svgIcon="geo"></mat-icon>
        <span>{{lpu?.addres}}</span>
      </div>
      <div class="icon-info srv-price" >
        <mat-icon svgIcon="price" *ngIf="srvlist().length>0"></mat-icon>
        <span *ngIf="srvlist().length>0">Стоимость услуги: {{srvlist()[0]?.price | priceSpace:'.2'}} р.</span>
      </div>
    </div>
    <div class="col-md-5">
      <div class="icon-info">
        <mat-icon svgIcon="calendar"></mat-icon>
        <span>{{getDate(talon().beginDate)}} {{getNameDay(talon().beginDate) | titlecase}}</span>
      </div>
      <div class="icon-info">
        <mat-icon svgIcon="time"></mat-icon>
        <span>{{p_getTime(talon().beginDate)}}</span>
      </div>
    </div>
  </div>


  <ng-container [ngSwitch]="pageStatus()">
    <ng-template ngSwitchCase="pay">
      <div class="cls-talon-pay-info">
        Внимание! <br>Данная услуга обязательна к оплате онлайн. Если услуга не будет оплачена в течение {{WEB_LK_PAY_LIFETIME}} минут, запись на прием будет автоматически удалена.
      </div>
    </ng-template>

  </ng-container>

</div>

<div class="modal-footer">

  <ng-container [ngSwitch]="pageStatus()">
    <ng-template ngSwitchCase="pay">
        <div class="app-input-pay row">
          <div class="col-sm-8">
            <mat-form-field class="app-pay-email" *ngIf="paySystem()?.isEmail">
              <input matInput cdkFocusInitial placeholder="Адрес почты" [(ngModel)]="payParam.email" class="cls-pay-input">
              <mat-hint align="start">Почта для получения чека</mat-hint>
            </mat-form-field>
          </div>

          <div class="col-sm-4">
          <span class="app-pay-summ">
            {{payParam.sum | priceSpace:'.2'}} руб.
          </span>

          </div>
        </div>

        <div class="app-btn-pay">
        <app-btn class="app-btn-filter"
                 text="Оплатить"
                 (click)="goPay()">
        </app-btn>
        <app-btn class="app-btn-filter"
                 text="Оплатить позже"
                 [isBtnSecond]='true'
                 (click)="closeTalon()">
        </app-btn>

      </div>

    </ng-template>

    <ng-template ngSwitchCase="talon">
      <div style="text-align: center;">
        <app-btn class="app-btn-filter"
                 text="Записаться к врачу"
                 (click)="recordTalon()"
                 *ngIf="typeTalon==1">
        </app-btn>
        <app-btn class="app-btn-filter" style="margin-right: 8px"
                 text="Отменить талон"
                 (click)="onCanselRecord()"
                 *ngIf="isShowCanselTalon()">
        </app-btn>

        <app-btn class="app-btn-filter"
                 text="Закрыть"
                 (click)="closeTalon()"
                 *ngIf="typeTalon==0">
        </app-btn>
      </div>
    </ng-template>

    <ng-template ngSwitchDefault>
    </ng-template>

  </ng-container>

</div>
