.cls-doc{
  img{
    max-width: 110px;
    /*    height: max-content;*/
    height: 100%;
  }
}

.cls-talon-adress{
  margin-top: 15px;
}

.btn-icon-location{
  color: #C2D4DD;
}

.cls-doc-info{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
