.app-modal-header{
}

.app-modal-title{
  width: 100%;
  text-align: center;
  margin: 0;
}

.cls-doc{
  img{
    max-width: 110px;
    /*    height: max-content;*/
    height: 100%;
  }
}

.cls-talon-adress{
  margin-top: 15px;
}

.btn-icon-location{
  color: #C2D4DD;
}

.cls-doc-info{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.cls-talon-srvList{
  border-radius: 8px;
  border: 3px solid #d7cdcd;
  margin: 8px;
}

.cls-talon-pay-info{
  text-align: center;
  color: #F31111;
}
