<div class="app-home-header">
  <div class="app-home-header_logo app-cp" (click)="goHome()">
    <mat-icon svgIcon="logo" class="app-svg-logo"></mat-icon>
  </div>
  <div class="app-home-header_exit app-cp" (click)="logout()" >
    <mat-icon svgIcon="exit" class="app-svg-exit"></mat-icon><span>Выход из ЛК</span>
  </div>
</div>

  <div class="app-home-body">
    <div class="app-home-body-menu app-block">
      <app-menu></app-menu>
    </div>
    <div class="app-home-body-content container">
      <router-outlet></router-outlet>
    </div>
  </div>
