.app-home-header{
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.app-home-header_exit{
}

.app-home-body{
  height: 100vh;
  display: flex;
  padding-bottom: 60px;
  background-color: white;
}

.app-home-body-menu{
  min-width: 150px;
  margin: 18px;
  margin-top: 28px;

}

.app-home-body-content{
  height: calc(100vh - 76px);
  width: 100%;
  background-color: #ffffff;
}
