.app-home-header{
  height: 61px;

  background-color: #afafaf;
}

.app-home-body{
  height: 94vh;
  display: flex;
  padding-bottom: 60px;
  background-color: green;
}

.app-home-body-menu{
  min-width: 150px;

  background-color: chartreuse;

}

.app-home-body-content{
  width: 100%;
  background-color: #ffffff;

}
