.app-btn-menu{
  display: block;
  width: 100%;
  line-height: 11px;
}

.app-menu-item-text{
  font-size: 12px;
  font-weight: 500;
  color: #878282;
  text-transform: uppercase;
}

.app-sub-menu{
  font-size: 10px;
  color: #0c0c0c;
  cursor: pointer;
  line-height: 104%;
  margin-bottom: 8px;
}

.app-sub-menu:hover{
  color: white;
}

.app-mat-icon-menu{
  width: 60px;
  height: 60px;
}

.app-isMobile{
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-menu-mobile-block{
  text-align: center;
  border: 1px solid #65bfc3;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 4px 0px rgba(212, 212, 212, 0.5);
  padding-bottom: 11px;
  height: 130px;
}

.app-mat-icon-menu-mobile{
  width: 60px;
  height: 60px;
}
