.cls-login-form{
    width: 100%;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    margin-top: 47px;
    min-width: 479px;
}

.cls-login-form > img{
  padding: 22px;
}

.cls-auth-name {
  text-align: center;
  font-size: 24px;
  color: #fff;
}
