.app-servise-top-item{
  border: 2px solid #60bdc2;
  border-radius: 8px;
  text-align: center;
  margin: 10px;
}


.app-servise-top-icon-menu{
  height: 100px;
  width: 100px;
}

.app-servise-top-item-text{

}
