/* константы */
$color-btn : #1c929c;
$color-btn-text : #ffff;

$color-btn-hover : #435B78;


$color-test : #7a7a7a;

/* */
$color-btn-bg : #1c929c;
$color-btn : #fff;

$color-btn-second-bg : #b6b6b6;


/* */
$color-block : #60bdc2;

/* для Frame2*/
$color-1 : #60BDC2; //,#66D6CD;
$color-text-select-item: #806b6b;
$color-not-selected : #ff1717; // Крастный - не выбранный


/*
color: #7A7A7A
-- Цвет текста
*/
