/* константы */
$color-btn : #1c929c;
$color-btn-text : #ffff;

$color-btn-hover : #435B78;


$color-test : #afafaf;

/* */
$color-btn-bg : #1c929c;
$color-btn : #fff;

/* */
$color-block : #60bdc2;

/* для Frame2*/
$color-1 : #60BDC2; //,#66D6CD;
$color-text-select-item: #806b6b;
$color-not-selected : #ff1717; // Крастный - не выбранный
