/* @import "variables.scss";*/
/*@import "variables.scss";*/
@use 'variables';
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


/* Стили анимации */
// @import "animations";
// @import './animations.scss';
// @use './animations.scss';
// @import './animations.scss';

body {
  margin: 0;
  font-family: 'Golos Text', sans-serif;
}
body, html {
  height: 100%;
  overflow: hidden;
/*  background: linear-gradient(181deg, #62bec2, #e2ebea);*/
}


.color-text{
  color: variables.$color-test;
}

/* BTN */
.cls-btn {
  margin-top: 20px;
  background-color: variables.$color-btn-bg;
}

.cls-btn, .cls-btn:hover {
  color: variables.$color-btn;
  background-color: variables.$color-btn-bg;
}

.cls-btn-second-bg {
  background-color: variables.$color-btn-second-bg !important;
}
/* */

/*Блоки */
.app-block{
  border-radius: 10px;
  background-color: variables.$color-block;
  color: white;
  padding: 20px;
}


.app-bg-color {
  background-color: variables.$color-block!important;
  color: white!important;
}

/* Основные*/
.app-cp{
  cursor: pointer;
}

.loading {
  position: absolute;
  z-index: 996; /*1010; */
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.9;
}

.loading>img {
  position: absolute;
  /*
  right: 42%;
  top: 49%;
  */

  width: 258px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.loading > p {
  position: absolute;
  right: 30%;
  top: 49%;
  width: 50%;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.loading-group {
  position: relative;
}

img.cls-img-doc-photo{
  width: 100%;
  max-width: 200px;

  border-radius: 8px;
}
/* ****************/

/* tooltipPanel Панель подсказка */
/* Основное поле*/
.tooltipPanel > div.tooltip-inner{
  background-color: variables.$color-block;
}
/* Стрелочка*/
.tooltipPanel > div::before{
  border-left-color: variables.$color-block!important;
}


/* TABLE */
td.logout-td-text{ // Центруем вертикально
  vertical-align: middle;
}

// Закруглим заголовок
table.table > thead > tr > th:first-child {
  border-top-left-radius: 8px;
}
table.table > thead > tr > th:last-child {
  border-top-right-radius: 8px;
}

table.table > thead > tr > th:not(:first-child) {
  border-collapse: collapse;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

table.table > thead > tr > th:not(:last-child) {
  border-collapse: collapse;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

.app-table-th-center{
    text-align: center;
    align-content: center;
}

.cls-ta-center{
  width: 100%;
  text-align: center;
}
/* Керстик в модалке*/
.btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e") !important;
}

