/* @import "variables.scss";*/
/*@import "variables.scss";*/
@use 'variables';
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


body {
  margin: 0;
  font-family: 'Golos Text', sans-serif;
}
body, html {
  height: 100%;
  overflow: hidden;
  background: linear-gradient(181deg, #62bec2, #e2ebea);
}


.color-text{
  color: variables.$color-test;
}

/* BTN */
.cls-btn {
  margin-top: 20px;
  background-color: variables.$color-btn-bg;
}

.cls-btn, .cls-btn:hover {
  color: variables.$color-btn;
  background-color: variables.$color-btn-bg;
}
/* */

/*Блоки */
.app-block{
  border-radius: 10px;
  background-color: variables.$color-block;
  color: white;
  padding: 20px;
}


/* Основные*/
.app-cp{
  cursor: pointer;
}


