.app-btn-menu{
  display: block;
  width: 100%;
  line-height: 11px;
}

.app-menu-item-text{
  font-size: 12px;
  font-weight: 500;
}

.app-sub-menu{
  font-size: 10px;
  color: #0c0c0c;
  cursor: pointer;
  line-height: 104%;
  margin-bottom: 8px;
}

.app-sub-menu:hover{
  color: white;
}
